a.out
ans3.out
test1.in
test2.in
test3.in
test4.in
test1.out
test3.out
ans1
.gitignore
ans2
ans3
test.in
test2.out
myans1
test.in
test0.in
test1.in
test1.out
test12.in
test2.in
test2.out
test3.in
test3.log
test3.out
test4.in
test4.log
test5.in
test7.in
test.in
6.in
6.out
6.out.bin
6_0.bin
6_1.bin
7.in
7.out
7.out.bin
7_0.bin
7_1.bin
7ans.out
0.bin
0.out
1.bin
1.out
2.bin
2.out
3.bin
4.bin
4.in
4.out
4.out.bin
4_0.bin
4_1.bin
4ans.out
5.bin
p10191-0.out
p10191-1.out
p10191-2.out
.gitignore